<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<head>
<title><ui:insert name="title">Default title</ui:insert></title>
</head>

<body>
	<ui:debug hotkey="x"
		rendered="#{initParam['javax.faces.FACELETS_DEVELOPMENT']}" />

	<div id="header">
		<ui:insert name="header">
			<ui:include src="/templates/header.xhtml" />
		</ui:insert>
	</div>

	<div id="content">
		<ui:insert name="content">

		</ui:insert>
	</div>

	<div id="footer">
		<ui:insert name="footer">
			<ui:include src="/templates/footer.html" />
		</ui:insert>
	</div>

</body>

</html>
