<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<ui:composition template="/templates/basicTemplate.xhtml">
	<ui:define name="content">
		<div style="text-align: center; width: 100%">
			<h:form>
				<h:panelGrid columns="2">
					<h:outputLabel value="Acesso"></h:outputLabel>
					<h:inputText id="nomeAcesso" value="#{usuarioBean.nomeAcesso}"></h:inputText>
					<h:outputLabel value="Nome Completo"></h:outputLabel>
					<h:inputText id="nomeCompleto" value="#{usuarioBean.nomeCompleto}"></h:inputText>
					<h:outputLabel value="Password"></h:outputLabel>
					<h:inputSecret id="password" value="#{usuarioBean.senha}"></h:inputSecret>
					<h:commandButton id="commandLogar" label="Logar" action="logar"></h:commandButton>
					<h:commandButton id="commandEsqueci" action="esqueci"
						label="Esqueci a senha" value="Esqueci a Senha"></h:commandButton>
				</h:panelGrid>
			</h:form>
		</div>
	</ui:define>
</ui:composition>
</html>
